body {
  margin: 0;
  background-color: #0d0d0d;
}
/*nav bar*/
header {
  background-color: #0d0d0d;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header ul {
  float: right;
  color: #3CF2F3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16pt;
}
header li {
  display: inline-block;
  padding: 0px 8px;
}

/*footer*/
.footer {
  background-color: #0d0d0d;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer ul {
  float: right;
  color: #3CF2F3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16pt;
}
footer li {
  display: inline-block;
  padding: 0px 8px;
}
/*hero section*/
.heroImg {
  background-color: #87468F;
  padding: 100px 16px;
  width: 100%;
}
.content {
  max-width: 500px;
  margin: 0 auto;
  padding: 64px;
  
  text-align: center;
}
button {
  padding: 16px;
  background-color: #3cf2f3;
  color: #0d0d0d;
  border-radius: 16px;
  font-size: 16pt;
  font-weight: 200;
}

/* my work section */
.myWork {
  padding: 0px;
  background-color: #0d0d0d;
}
.heading {
  text-align: center;
  font-size: 24px;
  background-color: #0d0d0d;
  padding-top: 32;
}
.workGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 400px 400px 400px;
  grid-template-areas:
  "img1 project1"
  "project2 img2"
  "img3 project3"
  ;
}
.workGrid img {
  max-width: 500;
  margin: 0 auto;
  display: block;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.project1 {
  grid-area: project1;
  padding-right: 64;
}
.project2 {
  grid-area: project2;
  padding-left: 124;
}
.project3 {
  grid-area: project3;
  padding-right: 64;
}

.myWork h3 {
  display: flex;
  justify-content: center;
  text-decoration-line: underline;
}

/* skills section */
.skills {
  padding:124px;
  background-color: #0d0d0d;
}
.flexContainer {
  display: flex;
  flex-direction: row;
  rows: 33% 33% 33%;
}
.flexContainer div {
  width: 33%;
  padding-left: 64px;
}
.flexContainer ul {
  color: white;
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16pt;
  font-weight: 250;
  line-height: 1.5;
}


/*contact section*/
.contact {
  background-color: #87468F;
  width: 100%;
  display: inline-block;
  text-align: center;
}

/*font styles*/
h1, h3, h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: medium;
  color: #3CF2F3;
}
p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-weight: 200;
  font-size: 16pt;
}
h1, .heading {
  font-size: 32pt;;
}
h3 {
  font-size: 16pt;
}
h4 {
  font-size: 16pt;
}
@media only screen and (max-width:600){
  .flexContainer {
    flex-direction: column;
  }
  .flexContainer div {
    width: 100%;
  }
  .workGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 250px 250px 250px 250px 250px 250px;
    grid-template-areas:
    "img1" 
    "project1"
    "img2" 
    "project2"
    "img3" 
    "project3"
    ;
  }
  .workGrid img {
    max-width: 250;
    margin: 0 auto;
    display: block;
  }
  .img1 {
    grid-area: img1;
  }
  .img2 {
    grid-area: img2;
  }
  .img3 {
    grid-area: img3;
  }
  .project1 {
    grid-area: project1;
  }
  .project2 {
    grid-area: project2;
  }
  .project3 {
    grid-area: project3;
  }
}